---
layout: default
title: People
---    
<h1>People</h1>
<div id="content_text">

{% assign person_name = "Beau Simensen" %}
{% assign person_gravatar = "14d0ad662a18587c0ebf786a656a697c" %}
{% assign person_irc = "simensen" %}
{% assign person_twitter = "kirkryyn" %}
{% assign person_github = "simensen" %}
{% assign person_github2 = "dflydev" %}
{% include person.html %}

{% assign person_name = "David Pierce" %}
{% assign person_gravatar = "bdea36f9b662c7bac533d12435ff473a" %}
{% assign person_irc = "TheDahv" %}
{% assign person_twitter = "TheDahv" %}
{% assign person_github = "TheDahv" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Dustin Venegas" %}
{% assign person_gravatar = "26e02e6e506704240b2d676982244d4f" %}
{% assign person_irc = "DustinVenegas" %}
{% assign person_twitter = "DustinVenegas" %}
{% assign person_github = "DustinVenegas" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Jason" %}
{% assign person_gravatar = "b93883fbc4dd8c059092067b5d02f4a8" %}
{% assign person_irc = "trafficone" %}
{% assign person_twitter = "Trafficone" %}
{% assign person_github = "trafficone" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Scott Moak" %}
{% assign person_gravatar = "63bdeed6e150c97fb4ad22afae5b34a5" %}
{% assign person_irc = "smoak" %}
{% assign person_twitter = "smoakin" %}
{% assign person_github = "smoak" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Bill Fraser" %}
{% assign person_gravatar = "546f20e4042e433d9bcbf0dc6c1a1cf5" %}
{% assign person_irc = "graycode" %}
{% assign person_twitter = "graycode" %}
{% assign person_github = "wfraser" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Josh LaRosee" %}
{% assign person_gravatar = "c4ca89f0ce403eeee7603b59a09f04c1" %}
{% assign person_irc = "jlarosee" %}
{% assign person_twitter = "joshlarosee" %}
{% assign person_github = "halogencreative" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Paul Betts" %}
{% assign person_gravatar = "8de583685d3e68f79917ec82253185d8" %}
{% assign person_irc = "bettsp" %}
{% assign person_twitter = "xpaulbettsx" %}
{% assign person_github = "xpaulbettsx" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Brandon Fallout" %}
{% assign person_gravatar = "ed34e4182189aa5281f38b517e6f8431" %}
{% assign person_irc = "p4r4d0x" %}
{% assign person_twitter = "p4r4d0x42" %}
{% assign person_github = "p4r4d0x42" %}
{% assign person_github2 = null %}
{% include person.html %}

{% assign person_name = "Mike \"that guy with the poop app\" Judge" %}
{% assign person_gravatar = "1b90452f66ef874661a3157a76689ca3" %}
{% assign person_irc = "bluetrust" %}
{% assign person_twitter = "mikelovesrobots" %}
{% assign person_github = "mikelovesrobots" %}
{% assign person_github2 = null %}
{% include person.html %}

</div>
