h1 Welcome to Beer &amp;&amp; Code Seattle
#content_text
  img#home_image(src='/images/bandc_home.png')
  #home_text
    h2 What
    p Beer &amp;&amp; Code is a coder's meetup in Seattle. 
    
    h2 Who
    p A typical Beer &amp;&amp; Coder likes to:

    ul
      li Use any programming language for work or for fun
      li Enjoy a tasty drink 
      li Meet other Beer &amp;&amp; Coders and be a part of a community
      li Be challenged and learning from others

    p Whether you are brand new, a veteran, a designer, or none of those, you can hang out at Beer &amp;&amp; Code.

    h2 When &amp; Where
    p Find a meetup near your neighborhood on the <a href="/calendar">Calendar</a>

  #motto
    h2 We like beer. We like code. Come hang out with us.

  #channels
    ul
      li Twitter:&nbsp;
        a(href='http://twitter.com/#!/beercodeseattle')@beercodeseattle
      li IRC: #BeerAndCodeSeattle (freenode)
      li
        a(href='https://groups.google.com/forum/#!forum/beer-code-seattle') Google Group
    p &nbsp;
