!!! 5
html
  head
    title= title
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='/javascripts/jquery-1.5.2.min.js')
    script(type='text/javascript', src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')    
    script(type='text/javascript', src='/javascripts/carbonate.js')
    script(type='text/javascript', src='/javascripts/bandc.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22823508-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();  
  body
    header
      a(href="/")
        img(id="logo", src="/images/beer_and_code_logo.png")
      nav
        ul
          li
            a(href="/") home
          li
            a(href="/calendar") calendar
          li
            a(href="/people") people
          li
            a(href="/jobs") jobs
    #content!= body