<div class="vcard">
    <div>
        <img style="float: left;" src="http://www.gravatar.com/avatar/{{ person_gravatar }}?s=50&d=mm" alt="photo of {{ person_name }}" class="photo"/>
        <h2 style="float: left;" class="name">{{ person_name }}</h2>
    </div>
    
    <ul>
        <li>
            <span class="irc">
                <span class="type irc">irc</span>:
                <span class="value">{{ person_irc }}</span>
            </span>
        </li>
        <li>
            <span class="uri">
                <span class="type github">github</span>:
                <span class="value"><a class="url" href="https://github.com/{{ person_github }}" target="_blank">{{ person_github }}</a></span>
            </span>
        </li>
        {% if person_github2 %}
        <li>
            <span class="uri">
                <span class="type github">github</span>:
                <span class="value"><a class="url" href="https://github.com/{{ person_github2 }}" target="_blank">{{ person_github2 }}</a></span>
            </span>
        </li>
        {% endif %}
        <li>
            <span class="uri">
                <span class="type twitter">twitter</span>:
                <span class="value"><a class="url" href="http://twitter.com/{{ person_twitter }}" target="_blank">@{{ person_twitter }}</a></span>
            </span>
        </li>
    </ul>
    <br style="clear: left;" />
</div>
