/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
   Tweaked. This was WAY more aggressive than I needed
*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* Force scroll bar */
html
  overflow-y scroll

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block

body 
  background-color #f3f4eb;
  font-family 'Arvo', arial, serif

blockquote, q 
  quotes none;

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

/** Page-level **/
@font-face
  font-family 'VT323'
  src url('fonts/VT323/VT323.ttf')

@font-face
  font-family 'Arvo'
  src url('fonts/Arvo/Arvo-Regular.ttf')

a, h1, h2, h3, h4
  color #161001

li
  margin-bottom 6px

#wrap
  width 80%
  margin 0 auto

a
  text-decoration none

/** Header specific **/
header
  text-align center
  background-color #412919
  padding-bottom 18px
  img
    height 150px  

/* Nav */
nav ul
  list-style-type none
  padding 0
  margin 0
  li
    display inline
    margin 0 8px
    a:link
      font-family 'VT323', arial, serif
      color #f6f4cd
      font-size 1.5em
    a:visited
      font-family 'VT323', arial, serif
      color #f6f4cd
      font-size 1.5em
    a:hover
      text-transform uppercase
    a:active
      text-transform uppercase

.activeNavLink, .hoverNavLink 
  text-transform uppercase

/* Content */
#content
  width 50%
  margin 0 auto
  text-align center

#content_text
  text-align left
  line-height 1.1em
  a
    border-bottom: 1px dotted #161001;
      
.vcard 
  margin 1em auto
  padding 12px
  width 350px
  background-color #fff
  -moz-box-shadow 3px 3px 3px #666
  -webkit-box-shadow 3px 3px 3px #666
  box-shadow 3px 3px 3px #666
    
.vcard .photo
  float left
.vcard .name 
  float left
  vertical-align middle
  line-height 50px
  margin 0 0 0 .5em
.vcard ul
  clear left
  float left