/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
   Tweaked. This was WAY more aggressive than I needed
*/
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* Force scroll bar */
html
  overflow-y scroll

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block

body 
  background-color #f3f4eb;
  font-family 'Arvo', arial, serif

blockquote, q 
  quotes none;

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

/** Page-level **/
@font-face
  font-family 'VT323'
  src url('fonts/VT323/VT323.ttf')

@font-face
  font-family 'Arvo'
  src url('fonts/Arvo/Arvo-Regular.ttf')

a, h1, h2, h3, h4
  color #161001

h1, h2
  -moz-text-shadow 0px 1px 2px #666
  -webkit-text-shadow 0px 1px 2px #666
  text-shadow 0px 1px 2px #666

h2
  margin-top 1.1em

li
  margin-bottom 6px

#wrap
  width 960px
  margin 0 auto

a
  text-decoration none

/** Header specific **/
header
  text-align center
  background-color #412919
  padding-bottom 18px
  img
    height 150px  

#login_area 
  color #f4ac00
  position absolute
  top 8px
  right 8px
  a
    color #f4ac00

#other_logins
  height 240px
  margin-top 48px
  border-left 1px solid #412919
  float right

/* Calendar area */
#calendar_container
  text-align center

/* Nav */
nav ul
  list-style-type none
  padding 0
  margin 0
  li
    display inline
    margin 0 8px
    a:link
      font-family 'VT323', arial, serif
      color #f6f4cd
      font-size 1.5em
    a:visited
      font-family 'VT323', arial, serif
      color #f6f4cd
      font-size 1.5em
    a:hover
      text-transform uppercase
    a:active
      text-transform uppercase

.activeNavLink, .hoverNavLink 
  text-transform uppercase

/* Content */
#content
  width 900px
  margin 0 auto
  text-align center

  img
    -moz-box-shadow 0px 3px 3px #666
    -webkit-box-shadow 0px 3px 3px #666
    box-shadow 0px 3px 3px #666


#content_text
  text-align left
  line-height 1.1em
  a
    border-bottom: 1px dotted #161001

#home_image
  float right
  margin-left 16px

#motto
  padding-top 16px
  text-align center
  clear right
  h2
    margin-bottom 24px
  
#channels
  text-align center
  ul
    padding 0
    list-style none
    li
      display inline-block
      padding 0
      margin 0 12px
  p
    clear both


/* People Stuff */

#people_listing
  text-align center
  
.vcard 
  text-align left
  display inline-block
  margin 1em 1em
  padding 12px
  width 310px
  height 180px
  background-color #fff
  -moz-box-shadow 0px 3px 3px #666
  -webkit-box-shadow 0px 3px 3px #666
  box-shadow 0px 3px 3px #666
    
.vcard .photo
  float left
.vcard .name 
  float left
  vertical-align middle
  line-height 50px
  margin 0 0 0 .5em
.vcard ul
  clear left
  float left

form
  input[type='text'], input[type='email'], input[type='password']
    border none
    padding 8px 12px
    width 300px
  textarea
    border none
    padding 8px 12px
    width 500px
    height 312px
 
.person_details
  text-align left
  img
    float right
  label
    font-size .8em
  .projects_list
    .project
      p
        font-style italic
    form.new_project      
      padding 8px
      margin-bottom 8px
      width 500px
      color #fff
      background-color #3c3c3c
      input[type='text']
        margin-left 8px
        padding 4px 8px
        width 250px
            
.job_form
  text-align left

.job_information
  text-align left

article.job_post, article.job_request
  text-align left
  .company_name 
    font-style italic


