html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background-color: #f3f4eb;
  font-family: "Arvo", arial, serif;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "VT323";
  src: url("fonts/VT323/VT323.ttf");
}
@font-face {
  font-family: "Arvo";
  src: url("fonts/Arvo/Arvo-Regular.ttf");
}
a,
h1,
h2,
h3,
h4 {
  color: #161001;
}
li {
  margin-bottom: 6px;
}
#wrap {
  width: 960px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  text-align: center;
  background-color: #412919;
  padding-bottom: 18px;
}
header img {
  height: 150px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  margin: 0 8px;
}
nav ul li a:link {
  font-family: "VT323", arial, serif;
  color: #f6f4cd;
  font-size: 1.5em;
}
nav ul li a:visited {
  font-family: "VT323", arial, serif;
  color: #f6f4cd;
  font-size: 1.5em;
}
nav ul li a:hover {
  text-transform: uppercase;
}
nav ul li a:active {
  text-transform: uppercase;
}
.activeNavLink,
.hoverNavLink {
  text-transform: uppercase;
}
#content {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}
#content_text {
  text-align: left;
  line-height: 1.1em;
}
#content_text a {
  border-bottom: 1px dotted #161001;
}
.vcard {
  display: inline-block;
  margin: 1em 1em;
  padding: 12px;
  width: 310px;
  height: 180px;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
  float: left;
}
.vcard .photo {
  float: left;
}
.vcard .name {
  float: left;
  vertical-align: middle;
  line-height: 50px;
  margin: 0 0 0 0.5em;
}
.vcard ul {
  clear: left;
  float: left;
}
.person_details {
  text-align: left;
}
.person_details img {
  float: right;
}
.person_details label {
  font-size: 0.8em;
}
.person_details input[type="text"],
.person_details input[type ="email"] {
  border: none;
  padding: 8px 12px;
  width: 300px;
}
.person_details textarea {
  border: none;
  padding: 8px 12px;
  width: 500px;
  height: 312px;
}
