h1 People
#content_text
  - each person in people
    .vcard
      div
        img(style="float: left;", src="http://www.gravatar.com/avatar/" + person.gravatar + "?s=50&d=mm", alt="photo of ' + person.name, class="photo")
        h2(style="float: left;").name
          a(href="/people/" + person.url_slug)= person.name      
      ul
        li
          span.irc
            span(class="type irc") irc: 
            span.value= person.irc
        li
          span.uri
            span(class="type github") github: 
            - if (person.github_nick) 
              span.value
                a(href="https://github.com/" + person.github_nick, target="_blank").url= person.github_nick
        li
          span.uri
            span(class="type twitter") twitter: 
            - if (person.twitter_nick) 
              span.value
                a(href="http://twitter.com/" + person.twitter_nick, target="_blank").url @#{person.twitter_nick}
  br(style="clear: left;")
