form(method='post', action='/people/new').person_details!= partial('edit', {object: person})
  p
    input(type='submit', name='Save', value='Save')
    input(type='submit', name='Cancel', value='Cancel')