form(method='post', action='/people/edit/' + person.url_slug).person_details!= partial('edit', {object: person})

  p
    input(type='submit', name='Save', value='Save')
    input(type='submit', name='Cancel', value='Cancel')