h1 About Beer &amp;&amp; Code Seattle

script
  $(function () {
    $.ajax({
      url: '/about/languageCountData',
      dataType: 'json',
      type: 'GET',
      success: function (data) {
        console.log(data);
      }
    });
  });
