- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

#other_logins
  h1 Log In
  #login_methods
    .loginMethod
      a(href='/login/twitter') 
        img(src='/images/twitter.png', alt='log in with twitter')
    .loginMethod
      a(href='/login/github')
        img(src='/images/github.png', alt='log in with github')
    br(style='clear: both;')
