- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

#other_logins
  h1 Log In
  p Already have an account with one of these fine providers? Hit the button to log in or create a new account with Beer&&Code. 
  .loginMethod
    a(href='/login/twitter') 
      img(src='/images/twitter.png', alt='log in with twitter')
  .loginMethod
    a(href='/login/github')
      img(src='/images/github.png', alt='log in with github')
    
div
  a(href='') TODO: Hook this up to twitter: I can't believe _favorite provider here_ isn't listed!
