- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

#other_logins
  ul
    li
      a(href='/auth/twitter') log in with twitter
    li
      a(href='/auth/github') log in with github

form(action='/login', method='POST')
  h1 Log In
  #login
    Email
    br
    input(type='text', name='username')
  #password
    Password
    br
    input(type='password', name='password')
  #submit
    input(type='submit') Login
