- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

#other_logins
  h1 Log In
  p Create or log in to a Beer &amp;&amp; Code profile
  #login_methods
    .loginMethod
      a(href='/login/github')
        img(src='/images/github.png', alt='log in with github')
    .loginMethod
      a(href='/login/twitter') 
        img(src='/images/twitter.png', alt='log in with twitter')
     br(style='clear: both;')
