#content
  h2 Update Password
  form.people#login(method='post', action='/sessions/udpatepassword')
    div
      label(for='pwupdate[currentpassword]') Current Password
      br
      input(name='pwupdate[currentpassword]', type='password')
    div
      label(for='pwupdate[newpassword]') New Password
      br
      input(name='pwupdate[newpassword]', type='password')
    div
      label(for='pwupdate[confirmpassword]') Confirm Password
      br
      input(name='pwupdate[confirmpassword]', type='password')
    div
      input(type='submit', value='Update')
